@CHARSET "UTF-8";

h1,h2,p,table,span,a {
  font-family: 'Gill sans MT', sans-serif;
}

#hd {
  background-repeat: no-repeat;
  width: 950px;
  height: 214px;
}

#logo {
  padding-left: 50px;
  padding-top: 50px;
  font-size: 4em;
  color: #edbd01;
  height: 84px;
}

#flash_errors {
  padding-left: 15px;
  height: 43px;
  color: red;
}

#login_link {
  float: right;
  padding-right: 10px;
  font-size: 1.2em;
}

#menubar {
  background-repeat: no-repeat;
  height: 37px;
  font-size: 1.8em;
  color: white;
  text-align: center;
}

#menubar a {
  text-decoration: none;
}

#menubar a:visited {
  color: #e8e8e8;
}

#home_button {
  background-repeat: no-repeat;
  width: 130px;
  height: 67px;
  margin-left: 10px;
  padding-top: 5px;
}

#search_button {
  background-repeat: no-repeat;
  width: 130px;
  height: 67px;
  margin-left: 10px;
  padding-top: 5px;
}

#profile_button {
  background-repeat: no-repeat;
  width: 130px;
  height: 67px;
  margin-left: 10px;
  padding-top: 5px;
}

#bd {
  padding-top: 40px;
  background-color: #e7efba;
}

#yui-main {
  min-height: 300px;
}

.yui-b {
  padding: 10px;
}

#ft {
  padding: 10px;
  background-color: #a7b458;
  min-height: 50px;
}

.grub_thumb {
  float: left;
  margin: 15px;
}

.validation_errors p {
  color: red;
}
=======
#user_profile h2 {
  font-size: 1.3em;
}

#basic_profile {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #404040;
  font-size: 1.15em;
}

#basic_profile td {
  padding-right: 10px;
}

#extended_profile {
  padding-left: 10px;
  padding-top: 5px;
  color: #606060;
  font-size: 1.05em;
}

#extended_profile td {
  padding-right: 10px;
}
